body {
	font-family: 'IBM Plex Sans KR', sans-serif;
}

header {
	width: 100%;
	padding-top: 10px;
	border-bottom: 1px solid #BEB4AF;
}

.front-area {
	margin: auto;
	width : 60%;
}

.container {
	width : 700px;
	height: 100vh;
	padding : 10px;
	background-color: white;
}

.logo {
    width: 50px;
    height: 55px;
    position: absolute;
    right: 50%;
}

.user {
	position: absolute;
	top : 6.3%;
	right : 20%;
}

a {
	text-decoration-line: none;	
	color : #000000 !important;
}

a:hover {
	color : #000000;
}

ul {
	list-style : none;
	/* overflow : auto; */
	padding-left : 0px;
	padding-right : 0px;
}

.menu ul {
	list-style : none;
	/* overflow : auto; */
	padding-left : 0px;
	padding-right : 0px;
}

.menu ul li {
	/* font-size: 20px; */
	float: left;
}

/* .nav-title:after {
	content: "";
    display: block;
    width: 60px;
	border-bottom: 1px solid red;
	width : 20px;
} */

.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
	width : fit-content;
}

.nav-title-item {
	text-decoration-line: none;	
	color : #000000 !important;
	font-size : large;
}

.nav-title-item:hover {
	color : #000000;
}

.nav-title-item:visited {
	color : #000000;
}

.dropdown {
	display : flex;
	justify-content : center;
}

.dropdown-menu {
	font-size : 15px;
	height : 30px;
	padding: 0px;
	border-bottom : 0px !important;
	border-radius : 0px;
	display: none;
	color : #000000;
	background-color:transparent;
}

.nav-sub {
	display: flex;
    width: 100%;
    justify-content: center;
    color : #000000;
    border-right: 0px;
    border-left: 0px;
    margin-top: 0px;
}

.nav-link {
	color : #000000;
}

.dropdown-toggle::after {
	border : 0px;
}

.page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
    background-color: #f8f8fa;
}

.page-util .location {
    float: left;
    height: 42px;
}

.page-util .location span {
    overflow: hidden;
    display: block;
    float: left;
    width: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
}

.page-util .location a {
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
}

.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

.step-box ul {
	list-style : none;
	overflow : auto;
	padding-left : 0px;
	padding-right : 0px;
	border-bottom : 1px solid #EBEBEB;
}
			
.step-box ul li {
	float : left;
	padding-bottom: 20px;
}

.step-box {
	margin-top : 20px;
	font-size: 15px;
}

.step.on {
	padding-bottom: 20px;
	border-bottom:2px solid #BEB4AF;
	color: #BEB4AF
}

.input-box {
	font-size: 15px;
}

.text-input {
	border : 1px solid #DADADA;
}

.form-control {
	width : 350px;
	
}

.home-btn {
	border : 1px solid #DADADA;
	width : 200px;
	color : white;
	background-color : #BEB4AF;
	border : 0px;
}

.home-btn:hover {
	color : white;
	background-color : #BEB4AF;
	border : 0px;
}

/* modal */
.modal {
	border : 0px;
	
}

.modal-content {
	border : 0px;
	border-radius: 0px;
	width : 80%
}

.modal-header {
	height : 25px;
	background-color: #BEB4AF;
	border-radius: 0px;
	color : white;
	align-items : center;
	margin-bottom: 10px;
}

.login-btn {
	border : 1px solid #DADADA;
	width : 200px;
	color : white;
	background-color : #BEB4AF;
	border : 0px;
}
  		
.login-btn:hover {
	color : white;
	background-color : #BEB4AF;
	border : 0px;
}
/* modal */

.login, .signup {
	font-size: 13px;
}

.footer-area {
	height: 50px;
	background-color: #F8F8FA;
	
}

/* datepicker */
.ui-widget-header { border: 0px solid #dddddd; background: #fff; } 

.ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

.ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

.ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 

.ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; } 

.ui-widget.ui-widget-content { width: auto; border: 0px; } 

#datepicker:focus>.ui-datepicker { display: block; } 

.ui-datepicker-prev,
.ui-datepicker-next { cursor: pointer; } 

.ui-datepicker-next { float: right; } 

.ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

.ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

.ui-datepicker-calendar { width: 100%; } 

.ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; } 

.ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none;}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

.ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 

.ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

.ui-widget-header .ui-icon { background-image: url('./btns.png'); } 

.ui-icon-circle-triangle-e { background-position: -20px 0px; background-size: 36px; } 

.ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; } 

.ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

.ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

.ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

.ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 

.inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

.inp:focus { outline: none; background-color: #eee; }

